.header__main-illustration {
  background-image: url(../../../images/two_again.png);
  background-size: 765px 608px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 2;
}
